*, 
::before, 
::after{
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

canvas{
	background: rgb(255,244,242);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

header{
	background: red;
}

section{
	background: blue;
}

footer{
	width: 100%;
	height: 300px;
}

.footerWrap{
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.signature{
	position: relative;
}

path{
	isolation: isolate;
}

.name{
	position: absolute;
	bottom: 5%;
	left: 50%;
	mix-blend-mode: difference;
	color: black;
}

.socials{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
}

.social a {
	text-decoration: none;
	color: black;
} 

.social a:visited {
	color: black;
} 




