@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

*, 
::before, 
::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscalze;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.bg-canvas{
	background: rgb(255,244,242);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/*Header*/

header{
	padding: 20px;
}

.innerHeader{
	display: flex;
	align-items: center;
}

h1{
	font-size: clamp(30px, 10vw, 150px);
}

.title{
	flex-grow: 1;
}

.date{
	writing-mode: vertical-rl;
	text-orientation: mixed;
	opacity: 0.5;
	font-size: 10px;
}

/*Header*/

section{
	margin: 30px 0 30px 0;
}

.content__paragraph{
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.paragraph{
	font-size: clamp(20px, 3vw, 90px);
}


#canvas3d{
	height: 90vw !important;
	width: 125vw !important;
	transform: translate(-12vw);
}

.gallerie{
	width: 80vw;
	height: 40vh;
	margin: 0 auto 40px auto;
	position: relative;
}

.gallerie__item{
	
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 60vw;
}



/*Section*/

.blank{
	height: 2000px;
}


/*Footer*/

footer{
	height: 60px;
	padding: 10px;
}

.signature{
	width: 100px;
	transform: rotate(-22deg);
}

.signature a {
	font-family: 'Square Peg', cursive;
	text-decoration: none;
	color: black;
	font-size: clamp(20px, 2vw, 50px);
	opacity: 0.6;
} 

.signature a:visited {
	color: black;
} 

/*Footer*/

